@import 'tailwindcss';

@theme {
  --color-neutral-content: #e5e7eb;
  --color-base-content: #ffffff;
  --color-base-100: #1e293b;
  --color-base-200: #0b1121;
  --color-info: #0e99d9;
  --color-success: #00b8a3;
  --color-error: #ff375f;
  --color-warning: #ffc01e;

  --color-background: #1e293b;
  --color-foreground: #ffffff;

  --color-card: 240 10% 3.9%;
  --color-card-foreground: 0 0% 98%;

  --color-popover: 240 10% 3.9%;
  --color-popover-foreground: 0 0% 98%;

  --color-primary: 0 0% 98%;
  --color-primary-foreground: 240 5.9% 10%;

  --color-secondary: 240 3.7% 15.9%;
  --color-secondary-foreground: 0 0% 98%;

  --color-muted: 240 3.7% 15.9%;
  --color-muted-foreground: 240 5% 64.9%;

  --color-accent: 240 3.7% 15.9%;
  --color-accent-foreground: 0 0% 98%;

  --color-destructive: 0 62.8% 30.6%;
  --color-destructive-foreground: 0 0% 98%;

  --color-border: 240 3.7% 15.9%;
  --color-input: 240 3.7% 15.9%;
  --color-ring: 240 4.9% 83.9%;

  --color-chart-1: 220 70% 50%;
  --color-chart-2: 160 60% 45%;
  --color-chart-3: 30 80% 55%;
  --color-chart-4: 280 65% 60%;
  --color-chart-5: 340 75% 55%;

  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;

  --breakpoint-xsm: 480px;

  --radius: 0.5rem;
  --border-radius-lg: var(--radius);
  --border-radius-md: calc(var(--radius) - 2px);
  --border-radius-sm: calc(var(--radius) - 4px);

  --breakpoint-xsm: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
@layer base {
  * {
    @apply border-gray-200 dark:border-gray-800;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.layout-padding {
  @apply px-4 sm:px-6 lg:px-[5%] xl:px-[10%];
}

.landing-button {
  background-image:
    linear-gradient(90deg, #2cb2eb 0%, #f472b6 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  width: fit-content;
  @apply text-base-content rounded-full px-5 py-2 text-sm font-medium hover:shadow-lg sm:px-9 sm:py-[10px] sm:text-base;
  transition: background-image 0.3s ease-in-out;
}
